*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  justify-content: center;
  align-items: center;
  height : 500px;
  place-items:  center;

}
.box-main {
  background: #d6cccc38;
  width: 400px;
  padding: 20px;
  height: 140px;

}

.inp-btn h1 {
  font-size: 26px;
  padding-bottom: 20px;
}

input[type="text"] {
  background: transparent;
  border: brown;
  border-bottom: 1px solid #2ab955;
  width: 324px;
  height: 30px;
  padding: 10px;
}
input[type="text"]:focus-visible{
  border-bottom: 1px solid #03b639;
  outline: none;
}
.setcolor{
  font-size: 50px;
  border-radius: 50%!important;
  color: #03b639!important;
  cursor: pointer;
  font-weight: 300!important;
}
.show {
  padding-top: 40px;
}
.show a{
  text-decoration: none;
  color: black!important;
  padding-right: 20px;
}